version: "3"

services:
  mc:
    image: itzg/minecraft-server
    container_name: minecraft
    ports:
      - 25565:25565
    # expose: 
    #   - "25565"
    environment:
      - EULA="TRUE"
      - VERSION=1.19.4
    tty: true
    volumes:
      - minecraft:/data
    stdin_open: true
    restart: unless-stopped
    labels:
      - "traefik.enable=false"
    #   - "traefik.tcp.routers.mc.entrypoints=mc-tcp"
    #   - "traefik.tcp.routers.mc.rule=HostSNI(`*`)"
    #   - "traefik.tcp.services.mc.loadbalancer.server.port=25565"
    #   - "traefik.tcp.routers.mytcprouter.tls=true"
    #   - "traefik.tcp.routers.mc.tls.certresolver=myresolver"
    #   - "traefik.tcp.routers.mc.tls.passthrough=true"
    #   - "traefik.docker.network=traefik"
    # networks:
    #   - traefik
volumes:
  minecraft:
# networks:
#   traefik:
#     name: traefik
#     external: true